.loading-container: {
  position: 'fixed';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: '55px'
}

.loading-text: {
  text-align: 'center';
  position: 'absolute';
  width: '100%';
  margin-top: '30px';
}
