.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #9F20B1;
  background-image:
    -webkit-linear-gradient(#9F20B1, #4B0C5E);
  background-image:
    -o-linear-gradient(#9F20B1, #4B0C5E);
  background-image:
    linear-gradient(#9F20B1, #4B0C5E);
    overflow: auto;
    min-height: -webkit-min-content;
  background-image: url('../../assets/tbelltextbg.png');
  background-position: center;
  background-size: cover;
}
