// Spread the Word Button
@import url('https://fonts.googleapis.com/css?family=Questrial');
$font-standard: 'questrial', sans-serif;

$backgroud_color: rgb(134, 36, 186);
$btn-color: rgba(163, 151, 252, 0.6);
$btn-color-hover: rgba(163, 151, 252, 1);

.NavButton-Wrapper {
  margin: 1em;
}
